#dashboard
{
	color: red;
	font-size: 30px;
	border:5px double yellow;
	text-align: center;
	margin-left: 35%;
	margin-top: 0%;
	height:400px;
	width: 400px;
}

#head01
{
	font-family: cursive;
	color: powderblue;
	text-align: center;
	text-shadow: 4px 4px 8px red, 8px -4px 8px orange;
}

#head01:hover
{
	cursor: pointer;
	font-family: cursive;
	color: navy;
	text-align: center;
	text-shadow: 4px 4px 8px red, 8px -4px 8px orange;
}

#body01
{
 background-image: url(ply.jpg);
 background-size:cover;
 background-repeat: no-repeat;
}

#form01
{
	color: powderblue;
	text-align: center;
}

#button01
{
	text-align: center;
	margin-left: 48%;
	padding: 1px 1px 1px;
}

#player01
{
	color:yellow;
	margin-left: 42%;
}

#player02
{
	color:yellow;
	margin-left: 42%;
}

#choice
{
	font-size: 30px;
	color: orange;
	margin-left: 42%;
}

.com
{
	padding: 0;
	border: none;
	background: none;
	color: white;
	font-size: 30px;
}
#para01
{
	text-align: center;
	color: yellow;
	font-size: 20px;
}
#NewMatch
{
	
	border: none;
	color:powderblue;
	font-size: 20px;	
	text-align: center;
}

#ReButton
{
	background:none;
	color:red;
	border:none;
	font-size: 30px;	
	margin-left: 45%;

}
.hidden, .row, .common
{
	border: 2px solid orange;
}